<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>POS Tagging</title>
	</head>
	<body style="background-color: #e5e5e5;">
	<p style="height: 20%; margin-top: 5%;"></p>
	<h1 style="text-align: center;"> POS Tagging </h1>	
	<form method="post" enctype=multipart/form-data>
		
		<p style="text-align: center; color: #3f3f3f; font-weight: 400;">This is a POS tagging project. Input a sentence below 
		and press the submit button.<br>The program will return the predicted tag of each token.</p>
		<div style="text-align: center;">
		<input type="text" id="sen" name="sen" style="width: fit-content;min-width: 20%; align-items: center;">
		<br>
		<input type="submit" value="Submit" style="margin-top: 0.3125rem; width: 5 rem;">
		</div>
		
		
	</form>
	{% for i in u %}
	<p style="text-align: center; color: #3f3f3f;">{{i}}</p>
	{% endfor %}
	</body>
</html>